<div style="" class="panel-group" id="accordion">
    <div class="panel panel-cust" id="panel1">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseOne"
                   href="#collapseOne" class="collapsed">
                    Authorization & Scopes
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                {{> auth }}
            </div>
        </div>
    </div>
    <div class="panel panel-cust" id="panel2">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseTwo"
                   href="#collapseTwo" class="collapsed">
                    Errors
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                {{> Errors }}
            </div>
        </div>
    </div>
    <!---
    <div class="panel panel-cust" id="panel3">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapseThree"
                   href="#collapseThree" class="collapsed">
                    ????????????
                </a>
            </h4>

        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              
            </div>
        </div>
    </div>--->
    <hr style="border-top:1px solid #aaa; margin-top:20px; margin-bottom:-5px;" />
</div>